<!DOCTYPE html>
<html>
<head>
  <title>Pi Router</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="shortcut icon" href="/images/darknet.png" />
</head>
<body>
  <div class="btns">
    <ul>
      <li>
        <img src="/images/dpi.svg" height="100px">
        <p class="moduleDescription">Turn on DPI</p>
        <div class="switch-btn" id="switchbtn-dpi"></div>
      </li>
      <li>
        <img src="/images/tor1.svg" height="100px">
        <p class="moduleDescription">Filter user domains and subdomains via tor</p>
        <div class="switch-btn" id="switchbtn-tor"></div>
      </li>
      <li>
        <img src="/images/tor2.svg" height="100px">
        <p class="moduleDescription">Turn on tor dns</p>
        <div class="switch-btn" id="switchbtn-tordns"></div>
      </li>
      <li>
        <img src="/images/allList.svg" height="100px">
        <p class="moduleDescription">Add all blocked subnets list to filter</p>
        <div class="switch-btn" id="switchbtn-AddAllDomains"></div>
      </li>
      <li>
        <img src="/images/anonymous.svg" height="100px">
        <p class="moduleDescription">use MASQUERADE for traffic</p>
        <div class="switch-btn" id="switchbtn-Masking"></div>
      </li>
      <li>
        <img src="/images/global-network.svg" height="100px">
        <p class="moduleDescription">Routing all traffic via tor</p>
        <div class="switch-btn" id="switchbtn-GlobalTor"></div>
      </li>
      <li>
        <div>
          <form action="" method="post">
            <label for="domain">Unblock domain:</label>
               <input type="text" id="domain" name="domain" autocomplete="off" /><br />
               <label for="domain">Unblock subnet:</label>
               <input type="text" id="subnet" name="subnet" autocomplete="off" /><br />
          </form>
          <button id="buttonSub" class="cuteButton">Apply</button>
        </div>
      </li>
    </ul>
  </div>

  <div class="lists">
    <ul>
        <div id="List" class="List"></div>
    </ul>
  </div>

<script type="text/javascript">
let serverJson = {{.}}
</script>
<script src="/static/script.js"></script>
</body>
</html>